<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../base/includes/head" , {title: "주문관리"}) %>
    <link rel="stylesheet" href="/css/order.css" />
  </head>
  <body>
    <%- include("../base/includes/header") %>
    <main>
      <h1>주문관리</h1>
      <% for (const orderList of orderLists) { %> <%-
      include("./includes/orderContent", {orderList: orderList}) %> <% } %>
    </main>
  </body>
</html>
