<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../base/includes/head', {title: '상품관리'})%>
    <link rel="stylesheet" href=" /css/form.css" />
    <link rel="stylesheet" href=" /css/product.css" />
    <script src="/script/admin.js" defer></script>
  </head>
  <body>
    <%- include('../base/includes/header') %>
    <main>
      <h1>상품관리</h1>
      <section>
        <form class="manageForm"
          action="/admin/product?_csrf=<%= locals.csrfToken %>"
          method="POST">
          <h2>상품추가</h2>
          <table>
            <tbody>
              <tr>
                <th>
                  <label for="title">상품이름</label>
                </th>
                <td>
                  <input id="title" name="title" type="text" required />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="summary">요약정보</label>
                </th>
                <td>
                  <input id="summary" name="summary" type="text" required />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="price">가격</label>
                </th>
                <td>
                  <input
                    id="price"
                    name="price"
                    type="number"
                    min="100"
                    step="100"
                    required
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="content">상품설명</label>
                </th>
                <td>
                  <textarea
                    id="content"
                    name="content"
                    rows="10"
                    required
                  ></textarea>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="category">카테고리</label>
                </th>
                <td>
                  <select name="category" id="category">
                    <option value="food">식품</option>
                    <option value="cosmetics">화장품</option>
                    <option value="pet">애완용품</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="img">이미지</label>
                </th>
                <td>
                  <!-- <input
                    id="img"
                    name="img"
                    type="file"
                    accept="image/*"
                    required
                  /> -->
                  <input id="imgURL" name="imgURL" type="text" required/>
                </td>
              </tr>
            </tbody>
          </table>
          <div id="btnDiv">
            <button>상품추가</button>
          </div>
        </form>
      </section>
      <section>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% for (const product of products) { %> <%-
          include('../customer/includes/product', {product: product}) %> <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
