h1 {
    text-align: center;
}

main {
    width: 25rem;
    margin: 36px auto;
    padding: 24px;
    background-color: var(--color-primary-100);
    border-radius: 4px;
    color: var(--color-black-300);
}

form label {
    display: block;
    text-align: center;
    width: 100%;
}

form hr {
    margin: 24px auto;
    width: 90%;
}

form input {
    display: block;
    margin: var(--space-2) auto;
    width: 90%;
    height: var(--space-6);

}

form button {
    display: block;
    margin: var(--space-4) auto;
    padding: var(--space-2) var(--space-6);
    border: 0;
    font-family: inherit;
    color: white;
    background-color: var(--color-primary-300);
    border-radius: 4px;
    box-shadow: 1px 1px 1px var(--color-primary-300);
}

form button:hover {
    cursor: pointer;
    background-color: var(--color-primary-400);
}

#loginLink {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-black-300);
}

#loginLink:hover {
    background: var(--color-primary-300);
}