h1 {
  text-align: center;
  margin-bottom: 4rem;
}

h2 {
  text-align: center;
}

main {
  width: 100%;
  max-width: 60rem;
  margin: 36px auto;
  padding: 24px;
  border-radius: 4px;
  color: var(--color-black-300);
}

form {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

th {
  width: 10rem;
  text-align: start;
}

td {
  width: 25rem;
}


hr {
  margin: 24px auto;
  border: 1px solid var(--color-black-100);
}

form #duplicateCheck {
  font-size: 0.5rem;
  margin: var(--space-4) var(--space-2);
  height: var(--space-8);

}

form #duplicateAlert,
form #signUpAvailable,
form #emailNotInput {
  font-size: 0.8rem;
  color: red;
  display: none;
}

form input {
  width: 70%;
  margin: var(--space-2) auto;
  height: var(--space-8);
  border: 1px solid var(--color-black-100);
  border-radius: 4px;
}

#img {
  border: 0;
}

#invalidPassword {
  color: red;
  font-weight: bold;
  font-size: 10px;
  margin: 0px;
}

#content {
  width: 90%;
  margin: var(--space-2) auto;
  border: 1px solid var(--color-black-100);
  border-radius: 4px;
  resize: none;
}

form #btnDiv {
  text-align: center;
}

form button {
  margin: var(--space-4) auto;
  padding: var(--space-2) var(--space-6);
  border: 0;
  font-family: inherit;
  color: white;
  background-color: var(--color-primary-300);
  border-radius: 4px;
  box-shadow: 1px 1px 1px var(--color-primary-300);
}

form button:hover {
  cursor: pointer;
  background-color: var(--color-primary-400);
}

#loginLink {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: var(--color-black-300);
}

#loginLink:hover {
  text-decoration: underline;
}
