* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    --color-primary-400: #314CFB;
    --color-primary-300: #0075FF;
    --color-primary-200: #008CFF;
    --color-primary-100: #009AEB;
    --color-black-400: #000000;
    --color-black-300: #2A272A;
    --color-black-200: #4B4A54;
    --color-black-100: #677381;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--space-4) 0;

}

/* main {
    width: 40rem;
    max-width: 80rem;
    padding: var(--space-4);
    margin: 0 auto;
    border: 1px solid black;
} */

#logo {
    text-align: center;
    flex: 1;
}

header ul {
    display: flex;
    flex: 4;
    justify-content: space-around;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: var(--color-black-400);
}