<header>
  <a id="logo" href="/">볼리는 땅콩을 좋아해</a>
  <ul>
    <% if (!locals.isAuth) { %>
    <li>
      <a href="/signup">회원가입</a>
    </li>
    <li>
      <a href="/login">로그인</a>
    </li>
    <% } %> <% if (!locals.isAdmin) { %>
    <li>
      <a href="/customer/product">상품리스트</a>
    </li>
    <li>
      <a href="/customer/cart">장바구니</a>
    </li>
    <% } %> <% if (locals.isAdmin) { %>
    <li>
      <a href="/admin/product">상품관리</a>
    </li>
    <li>
      <a href="/admin/order">주문관리</a>
    </li>
    <% } %> <% if (!locals.isAdmin && locals.isAuth) { %>
    <li>
      <a href="/customer/order">주문목록</a>
    </li>
    <% } %> <% if (locals.isAuth) { %>

    <li>
      <a href="/logout">로그아웃</a>
    </li>
    <% } %>
  </ul>
</header>
