<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head', {title: "잘못왔다개"}) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <main>
      <h1>잘못온거 같다개...</h1>
      <a href="/">안전한 곳으로 돌아가라개</a>
    </main>
  </body>
</html>
