<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../base/includes/head', {title: '홈페이지'})%>
  </head>
  <body>
    <%- include('../base/includes/header') %>
    <main></main>
  </body>
</html>
