<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../base/includes/head', {title: '상품리스트'})%>
</head>
<body>
    <%- include('../base/includes/header') %>
    <main>
    </main>
</body>
</html>