<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../base/includes/head', {title: '상품리스트'})%>
  </head>
  <body>
    <%- include('../base/includes/header') %>
    <main>
      <section></section>
      <section>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% for (const product of products) { %> <%-
          include('./includes/product', {product: product}) %> <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
