<div class="card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= orderList.title %></h5>
        <p class="card-text"><%= orderList.totalPrice %></p>
        <p class="card-text"><%= orderList.orderStatus %></p>
      </div>
    </div>
  </div>
</div>
